<nav class="nav scrolled" id="nav">
  <a class="brand" href="{{ '/' | relative_url }}"><img src="{{ '/icon.png' | relative_url }}" alt="" />ApkaŁapka</a>
  <div class="nav-links">
    <a href="{{ '/#features' | relative_url }}">Funkcje</a>
    <a href="{{ '/#why' | relative_url }}">Dlaczego ApkaŁapka</a>
    <a href="{{ '/#pricing' | relative_url }}">Cennik</a>
    <a href="{{ '/faq.html' | relative_url }}">FAQ</a>
    <a href="{{ '/blog/' | relative_url }}">Blog</a>
    <a href="{{ '/changelog/' | relative_url }}">Nowości</a>
  </div>
  <div class="nav-right">
    <a class="nav-cta" href="{{ '/#download' | relative_url }}">Pobierz</a>
  </div>
</nav>
